@inject NavigationManager navigationManager;
<div class="card m-2 " style="width:25rem;">
    <div class="card-body">
        <h5 class="card-title">Order Summary</h5>
        <div class="card-text d-flex justify-content-between">
            <div>
                Items(@itemCount):
            </div>
            <div>
                @itemsTotalPrice.ToString("c")
            </div>
        </div>
        <div class="card-text d-flex justify-content-between">
            <div>
                Shipping and
            </div>
            <div>
                <text>$0.00</text>
            </div>
        </div>
        <div class="card-text d-flex justify-content-between">
            <div>
                Estimated Tax
            </div>
            <div>
                <text>$0.00</text>
            </div>
        </div>
        <div class="card-text d-flex justify-content-between" style="color:darkred">
            <div>
                <b>Order Total:</b>
            </div>
            <div>
                <b>@itemsTotalPrice.ToString("c")</b>
            </div>
        </div>        
    </div> 
    @if (!HidePlaceOrderButton)
    { 
        <button class="btn btn-primary" @onclick="PlaceOrder">Place your Order</button>
    }
    
</div>

@code {
    int itemCount;
    double itemsTotalPrice;

    [Parameter]
    public Order O { get; set; }

    [Parameter]
    public bool HidePlaceOrderButton { get; set; } = false;


    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (O != null)
        {
            itemCount = O.LineItems.Count;
            itemsTotalPrice = 0;
            //O.LineItems.ForEach(x => itemsTotalPrice += x.Price * x.Quantity);
            foreach (var item in O.LineItems)
            {
                itemsTotalPrice += item.Price * item.Quantity;
            }
        }
    }
    private void PlaceOrder()
    {
        navigationManager.NavigateTo("/orderplace");
    }
}
